/* Shared Styles */
body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
}

p {
    color: #757575;
}

h1, h2, h3, h4 {
    color: #181818;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.btn-primary {
    background-color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FFF !important;
    padding: 12px 32px;
}

.btn-secondary {
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    color: #FD6E0A !important;
    padding: 12px 32px;
}

.bg-primary {
    background-color: #FFF8F3;
}

.fc-primary {
    color: #FD6E0A;
}

/* Header Nav */
.header-nav {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.header-nav h3 {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

.header-nav ul {
    display: flex;
    list-style: none;
    gap: 45px;
}

.header-nav ul a {
    color: #474747;
    font-family: 20px;
}

/* Header Banner */
.header-banner {
    display: flex;
    padding-left: 195px;
    align-items: center;
    padding-top: 30px;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: right bottom, top left;
    background-size: 53%, contain;
}

.header-banner-content {
    width: 50%;
}

.header-banner-image {
    width: 50%;
    display: flex;
    align-items: end;
    justify-content: end;
    padding-right: 10px;
}

.header-banner h3 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.header-banner h1 {
    font-size: 85px;
    font-weight: 700;
    margin: 0;
}

.header-banner p {
    margin-bottom: 30px;
    max-width: 580px;
}

.header-banner .btn-primary {
    margin-right: 20px;
}